.footerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 90px;
    padding: 10px;
    bottom: 0;
    position: fixed;
    
}

.textContainer{
    display: flex;
    flex-direction: column-reverse;
}

.text{
    font-size: 15px;
    color: var(--colorSecundario);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding-left: 10px;
}




.contactFooter{
    display: flex;
    align-items: center;
}

.logosFooter{
    width: 40px;
    height: 40px;
    margin: 10px;
    background-color: var(--colorSecundario);
    padding: 5px;
    border-radius: 5px;
}

.logosFooterEmail{
    height: 40px;
    background-color: var(--colorSecundario);
    padding: 8px;
    border-radius: 5px;
}
.logosFooterEmail:hover{
    background-color: var(--colorPrimario);
}

.logosFooter:hover{
    cursor: pointer;
    background-color: var(--colorPrimario);
    transition: 500ms;
}

.pFooter{
    color: var(--colorPrimario);
}

.footerContent{
    color: var(--colorPrimario);
    font-size: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.datosContacto{
    color: var(--colorSecundario);
}



.iconsFooter{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 500px){

    .footerContainer{
        height:120px;
        flex-direction: column;
    }
   
    .logosFooter{
        width: 30px;
        height: 30px;
        margin: unset;
        margin: 5px;
    }

    .logosFooterEmail{
        height: 30px;
    }

    .text{
        font-size: 10px;
        width: 180px;
        text-align: center;
    }

   .textContainer{
    flex-direction: initial;
    width: 100vw;
    align-items: center;
   }

    .footerContent{
        font-size: 8px;
    }


  
}