
.inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
} 

.titleIndex {
    margin-top: 10px;
    color: black;
    text-shadow: 1px 1px 1px var(--colorPrimario);
    filter: drop-shadow(1px 3px 1px rgb(255, 194, 25));
    font-family: "Qwitcher Grypen", cursive;
    text-transform: lowercase;
    font-size: 100px;
    font-weight: bolder;
    margin-bottom: 20px;
}



.bebidasInicio{
    width: 200px;
    filter: drop-shadow(2px 2px 5px var(--colorPrimario));
    /* animation: rotar 5s linear infinite; */
}

@keyframes rotar{
    from{
        transform: rotateY(180deg);
    }
    to{
        transform: rotateY(-180deg);
    }
}

@media screen and (min-width: 320px) and (max-width: 500px){
    
    .titleIndex{
        font-size: 80px;
    }
    .titleIndex2{
        font-size: 15px;
        width: 250px;
        margin-top:10px;
    }
    .bebidasInicio{
        width: 100px;
        margin-top: 20px;
    }
}