.itemContainer{
    width: 230px;
    margin: 10px;
    background-color: black;
    
}

.itemImg{
    width: 200px;
    margin: 10px;
}

.itemMarca, .itemPrecio, .itemModelo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    color: #BCF3E9;
}

.itemPrecio{
    font-weight: bolder;
    font-size: 20px;
}

.itemListContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}